*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color:black;
    
}


.trans-one{
    position: absolute;
    top: 140px;
    left: 70px;
    opacity: 0.3;

}


/* Navigation Bar */


.nav-bar{
    background-color: white;
    height:58px;
    display: flex;
    justify-content:space-evenly;
    margin-top: 1px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

.logo img{
    width: 47px;
    padding-top: 7px;
    padding-right: 10px;
    padding-left: 0px;
}

.logo{
    padding-right: 0px;
    padding-left: 15px;
}

.nav-menu{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding-right:20px;
    

}

.nav-menu div{
    padding-right: 22px;
}

.nav-menu a{
    color: maroon;
    text-decoration: none;
    font-size: 16px;
}

.nav-menu a:hover{
    font-size: 18px;
    transition: 0.5s;
    color: goldenrod;
}

.home{
    padding-left: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 5px;
}

.home a{
    color: black;
}


.hamburger{
    display: none;
}

.cancel img{
    display: none;
}



/* Container */

.container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 500px;
}

.container-content{
    position: relative;
}

.search-content{
    
}


button{
    position: absolute;
    top: 40px;
    right: 220px;
    padding: 1px 10px;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    border:none;
}

button:hover{
    opacity: 0.8;

}

button img{
    width: 30px;
}


input{
    margin-left: 180px;
    margin-top: 40px;
    padding: 10px 15px;
    width: 390px;
    border: none;
    outline: none;
    border-radius: 5px;
}



h1{
    padding-left: 30px;
    padding-top: 20px;
}



.line{
    background-color: goldenrod;
    height: 5px;
    position: absolute;
    width: 520px;
    top: 390px;
}


.line-two{
    background-color: goldenrod;
    height: 5px;
    position: absolute;
    top: 390px;
    right: 0px;
    width: 220px;
    color: goldenrod;

}


.line p{
    color: goldenrod;
}


.decoration img{
    width: 140px;
    position: absolute;
    top: 330px;
    right: 200px;
}


/* Contact-on-Home */

.contact-content{
    /* background-image: url(./Image/home\ image.JPG); */
    background-color:goldenrod;
    border-radius: 50px;    
    height: 400px;
    width: 350px;
    position: absolute;
    top: 130px;
    right: 100px;
}


.contact-content h1{
    padding-top: 60px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/* White Container */

.white-container{
    background-color: white;
    height: 400px;
}
































/* Other Pages */



/* Court Rules */

*{
    padding: 0;
    margin: 0;
}

body{
    padding: 0;
    margin: 0;
    background-color:black;
    
}

.nav-bar{
    background-color: white;
    height:58px;
    display: flex;
    justify-content:space-evenly;
    margin-top: 1px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

.logo img{
    width: 47px;
    padding-top: 7px;
    padding-right: 10px;
    padding-left: 0px;
}

.logo{
    padding-right: 0px;
    padding-left: 15px;
}

.nav-menu{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding-right:20px;
    

}

.nav-menu div{
    padding-right: 22px;
}

.nav-menu a{
    color: maroon;
    text-decoration: none;
    font-size: 16px;
}

.nav-menu a:hover{
    font-size: 18px;
    transition: 0.5s;
    color: goldenrod;
}

.home{
    padding-left: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 5px;
}

.home a{
    color: black;
}


.hamburger{
    display: none;
}

.cancel img{
    display: none;
}



.court-rules{
    background-color: black;
}

.court-rules h1{
    color: whitesmoke !important;
    margin-top: 25px;
    margin-bottom: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.rules{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 40px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
}

.court-rules h1{
    display: block;
    color: white;
    padding-left: 60px;
}


.rules a{
    text-decoration: none;
}

.rules a:hover{
    opacity: 0.7;
}

.rules p{
    line-height: 22px;
    font-size: 16px;
}

.rules h2{
    color: goldenrod;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;


}

.rules div{
    height: 340px;   
    color: white;
    background-color: maroon;
    border: 2px solid white;
    padding-left: 20px;
    padding-right: 20px;
}

.one{
    background-color: maroon;
    border-radius: 10px;
    border: 2px solid white !important;
}

.one h2{
    color: black!important;
}


.one p{
    color: white!important;
}

.four{
    background-color: rgb(180, 134, 19) !important;
    border-radius: 10px;
}

.four h2{
    color: white!important;
}

.four p{
    color: black !important;
}

.two{
    background-color: white !important;
    border-radius: 10px;
    color: black !important;
    border: 2px solid goldenrod !important;

}

.two h2{
    color: maroon !important;
}

.three{
    background-color:black !important;
    border-radius: 10px;
    border: 2px solid maroon !important;

}

.five{
    background-color: white !important;
    border-radius: 10px;
    border: 2px solid maroon !important;

}

.five h2{
    color: black !important;
}

.five p{
    color: maroon !important;
}

h3{
    color: white;
    padding-left: 20px;
    padding-top: 25px;
}

.footer{
    color: grey;
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: 500px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}




















/* Contact Page */

*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color:black;
    
}

.nav-bar{
    background-color: white;
    height:58px;
    display: flex;
    justify-content:space-evenly;
    margin-top: 1px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

.logo img{
    width: 47px;
    padding-top: 7px;
    padding-right: 10px;
    padding-left: 0px;
}

.logo{
    padding-right: 0px;
    padding-left: 15px;
}

.nav-menu{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding-right:20px;
    

}

.nav-menu div{
    padding-right: 22px;
}

.nav-menu a{
    color: maroon;
    text-decoration: none;
    font-size: 16px;
}

.nav-menu a:hover{
    font-size: 18px;
    transition: 0.5s;
    color: goldenrod;
}

.home{
    padding-left: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 5px;
}

.home a{
    color: black;
}


.hamburger{
    display: none;
}

.cancel img{
    display: none;
}


.contact-container{

}


.skew-one{
    background-color: black;
    height: 300px;
}

.skew-one p{
    color: goldenrod;
    padding-left: 80px;
    opacity: 0.8;
    font-size: 40px;
    display: inline;
    position: absolute;
    top: 170px;
    font-style: italic;
}

.skew-one span{
    color: white;
    padding-left: 50px;
    font-style: normal !important;
}

.skew-two{
    background-color: white;
    height: 350px;
    transform: skewY(-4deg);
}

.card{
    background-color: white;
    width: 400px;
    height: 410px;
    position: absolute;
    top: 130px;
    left: 550px;
    border-radius: 20px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.4);
    

}


.card h2{
    padding-left: 40px;
    padding-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



.card input{
    border: 1px solid black;
    width: 280px;
    margin-left: 40px;
    margin-top: 20px;
}

.card textarea{
    border: 1px solid black;
    width: 310px;
    margin-left: 40px;
    margin-top: 20px;
    height: 160px;
    outline: none;
}

.card textarea::placeholder{
    padding-top: 10px;
    padding-left: 10px;
}

.card button{
    border: 2px solid black ;
    border-width: 0px;
    position: absolute;
    right: 50px;
    top: 360px;
    padding: 10px 20px;
    background-color: maroon;
    color: goldenrod;
    width: 310px;
}










